<head>
  <link rel="stylesheet" href="/static/number-game.css">

   <script src="/static/number-game.js"></script>
</head>

<body onload="initializeNumbers();">

<h1 class="heading-class">
  Press the Buttons to Change the Numbers!
</h1>

<p class="center-big">
  <button class="big-button" onclick="numUpRed();"> UP </button>
  <button class="big-button" onclick="numDownRed();"> DOWN </button>
  <b class="red" id="redText"> ? </b>
  :
  <b class="blue" id="blueText"> ? </b>
  <button class="big-button" onclick="numUpBlue();"> UP </button>
  <button class="big-button" onclick="numDownBlue();"> DOWN </button>
</p>

</body>


