<head>
	<title>Company Directory</title>

<style type = "text/css">
body {background-color: #abddfc}
p {font-size:25px}
</style>

</head>


<body>

<h1 style="color:red">UNDER CONSTRUCTION</h1>

<p> This page currently only allows looking up employees by last name. </p>

<p> However, we are working to expand the page to allow searches by department or other fields in the directory</p>

<form action="/internal/submit" method = "POST">
	<p> Last Name <input type = "text" name = "last" /> </p>
	<p> <input type = "submit" value = "Submit" /></p>
</form>


</body>
